@import "./_mixin.scss";

.App {
  // text-align: center;
  height: 100vh;
  background-color: #222831;
  font-family: Roboto Slab;
}
.main {
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  @include tablet {
    margin-right: 10%;
    margin-left: 10%;
  }
  //formulario
  &__form {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(70, 67, 67, 0.74);
    border: groove 1em rgba(255, 255, 255, 0.6);
    border-radius: 1em;

    &--select {
      padding: 5px;
      //border: 2px blue solid;
    }
    &--inputText {
      // border: 2px blue solid;
      padding: 10px;
    }
    &--reset {
      margin-top: 5px;
      padding: 5px;
      width: 50px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 5px 5px 5px 0px rgba(236, 230, 230, 0.5);
      cursor: pointer;
    }
  }
  .block {
    display: block;
  }
  //ul card container

  &__container {
    border: groove 1em grey;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.6);
    display: grid;
    justify-items: center;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include desktop1 {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 20px;
    }
    @include desktop2 {
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 20px;
    }
  }
}
