@import "./mixin";

.secDetail {
  margin: 15px;
  padding: 10px;
  border: groove 1em grey;
  border-radius: 1em;

  background-color: rgba(134, 207, 65, 0.575);
  @include tablet {
    display: Flex;
    flex-direction: row;
  }
  @include desktop1 {
    display: Flex;
    flex-direction: row;
    justify-content: center;
  }
  &__logo {
    width: 50px;
    height: 50px;
  }
  &__titleContainer {
    @include tablet {
      margin: 10px 20px 10px;
      display: flex;
      flex-direction: column-reverse;
    }
    &--img {
      width: 130px;
      height: 130px;
      border: 2px solid chartreuse;
      border-radius: 35%;
      @include tablet {
        width: 250px;
        height: 250px;
      }
      @include desktop1 {
        width: 350px;
        height: 350px;
      }
    }
    &--title {
      color: black;
      margin: 10px;
      @include tablet {
        text-align: center;
        font-size: 24px;
      }
      @include desktop1 {
        font-size: 40px;
      }
    }
  }
  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    &--text {
      padding-bottom: 5px;
      font-size: 20px;
      color: darkgreen;
    }
  }
}
.secDetail-return {
  width: 100%;
  padding: 5px;
}

.secNot {
  background-color: rgba(243, 239, 239, 0.897);
  border: groove 1em grey;
  &__title {
    font-size: 20px;
    @include tablet {
      font-size: 40px;
    }
    @include desktop1 {
      font-size: 50px;
    }
  }
  &__img {
    width: 100px;
    @include tablet {
      width: 300px;
    }
    @include desktop1 {
      width: 400px;
    }
  }
}
