@import "./mixin";

.card {
  border: 2px solid grey;
  margin: 10px;
  width: 200px;
  padding: 5px;
  box-shadow: 5px 5px 5px 0px rgba(26, 19, 19, 0.5);
  border-radius: 5%;
  background-image: url(../images/portal1.png);
  background-repeat: no-repeat;
  border: groove 1em rgb(169, 218, 35);
  background-position: center center;
  &:hover {
    transform: scale(1.1);
  }

  &__title {
    padding: 10px;
    color: aqua;
  }
  &__img {
    width: 120px;
    height: 120px;
    border-radius: 40%;
  }
  &__itemContainer {
    color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.chacNot {
  @include tablet {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @include desktop1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  @include desktop2 {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  &__title {
    font-size: 20px;
    @include tablet {
      font-size: 40px;
    }
    @include desktop1 {
      font-size: 50px;
    }
  }
  &__img {
    width: 100%;
    border-radius: 5%;
  }
}
