@import "./mixin";

.footer {
  color: white;
  border-top: 2px solid white;
  padding: 20px;
  text-align: center;
  background-color: rgba(51, 48, 48, 0.726);
  @include tablet {
    padding: 2% 5% 2% 5%;
  }

  &__advise {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    @include tablet {
    }
  }
  &__copyright {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
