@import "./_mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: Roboto Slab;
  font-family: creepster;
  background-image: url(../images/bk6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @include tablet {
  }
}
