* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-image: url(../images/bk-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
