@import "./_mixin.scss";

.App {
  background-color: #222831;
}
.main {
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  @include tablet {
    margin-right: 10%;
    margin-left: 10%;
  }
  //formulario
  &__form {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(70, 67, 67, 0.74);
    border: groove 1em rgba(255, 255, 255, 0.6);
    border-radius: 1em;
    &--container {
      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }

    &--inputText {
      color: aqua;
      margin: 5px;
      padding: 10px;
    }

    &--check {
      color: aqua;
      font-size: 20px;
      margin: 10px;
      border-bottom: aqua 2px solid;
    }
    &--reset {
      margin: 10px;
      font-family: creepster;
      margin-top: 5px;
      padding: 5px;
      width: 50px;
      text-align: center;
      border-radius: 50%;
      background-color: aqua;
      color: white;
      box-shadow: 5px 5px 5px 0px rgba(236, 230, 230, 0.5);
      cursor: pointer;
    }
  }

  .stylelabel {
    color: aqua;
    font-size: 20px;
    margin: 10px;
  }
  .block {
    display: block;
    font-family: creepster;
    margin: 10px;
    @include desktop1 {
      margin: 20px;
    }
  }
  //ul card container

  &__container {
    padding: 10px;
    border: groove 1em grey;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.6);
    display: grid;
    justify-items: center;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include desktop1 {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 20px;
    }
    @include desktop2 {
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 20px;
    }
  }
}
